printWidth: 120
tabWidth: 4
useTabs: false
semi: false
singleQuote: true
trailingComma: "es5"
bracketSpacing: true
jsxBracketSameLine: false
arrowParens: "avoid"
proseWrap: "never"
trailingCommaPHP: "php7.2"
braceStyle: "psr-2"
