name: build

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

env:
  COMPOSER_FLAGS: "--ansi --no-interaction --no-progress --no-suggest --prefer-dist -o -n"

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        php-version: [7.2, 7.3, 7.4]

        laravel-version: [6, 7]

        os: [ubuntu-latest]

        dependencies: [locked]

        experimental: [false]

        include:
          - php-version: 7.4
            laravel-version: 7
            dependencies: highest
            os: ubuntu-latest
            experimental: false

          - php-version: 7.4
            laravel-version: 7
            os: windows-latest
            dependencies: locked
            experimental: false

          - php-version: 7.4
            laravel-version: 7
            os: macos-latest
            dependencies: locked
            experimental: false

          # - php-version: 8.0
          #   laravel-version: 7
          #   dependencies: highest
          #   os: ubuntu-latest
          #   experimental: true

    name: PHP ${{ matrix.php-version }} - L${{ matrix.laravel-version }} - ${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    continue-on-error: ${{ matrix.experimental }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache/files
          key: dependencies-os-${{ matrix.os }}-php-${{ matrix.php-version }}-laravel-${{ matrix.laravel-version }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: dependencies-os-${{ matrix.os }}-php-${{ matrix.php-version }}-laravel-${{ matrix.laravel-version }}

      - uses: jasonmccreary/PHP-Lint@fetch-signature

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, gd
          coverage: none
          ini-values: "memory_limit=-1"

      - name: Install highest dependencies from composer.json
        if: matrix.dependencies == 'highest'
        run: composer config platform --unset && composer update ${{ env.COMPOSER_FLAGS }}

      - name: Install lowest dependencies from composer.json
        if: matrix.dependencies == 'lowest'
        run: composer install ${{ env.COMPOSER_FLAGS }} --prefer-lowest

      - name: Install dependencies from composer.lock
        if: matrix.dependencies == 'locked'
        run: composer install ${{ env.COMPOSER_FLAGS }}

      - name: Select Laravel version
        run: composer require "laravel/framework:${{ matrix.laravel-version }}.*" --no-update

      - name: Run tests
        run: vendor/bin/phpunit --verbose
